@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);
@import '~antd/dist/antd.css';
html, body, #root{
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
  background-color: ghostwhite;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.mainCont{
  width: 100%;
}
.searchField{
width: 225px;
}